* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV START */
#navEdit {
    background-color: #FFC812;
}

#navFlex {
    display: flex;
    justify-content: end;
    width: 100%;
    /* padding: 11.9px; */
    /* border: 1px solid #FFC812 !important; */
    background-color: black !important;

}

#navLogo {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    letter-spacing: 10px;
    color: #383838 !important;
    border-left: 1px solid #FFC812;
    padding-left: 10px;
    border-bottom: 1px solid #FFC812;

}

#navLinks {
    width: 100%;
    display: flex;
    justify-content: end;
}

.nav-link {
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
    color: #FFC812 !important;
}

.nav-link:hover {
    color:#383838 !important;
    transition: .5s;
}

#yLogo {
    color: #FFC812 !important;
}


/* NAV END */

/* MAIN SECTION */

#mainSection {
    display: flex;
    align-content: center;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden ;
    z-index: -2;
    margin: auto;
}

#faceIMG {
    width: 100%;
    max-height: 100%;
    z-index: 0;
    overflow: hidden;
    opacity: .7;
    z-index: 0;
}

.boxOne{
    width: 50%;
}

.boxOneContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 30px;
    font-family: 'Encode Sans', sans-serif;
    
}
.boxOneContent h1 {
    color: #FFC812;
    font-size: 3rem;
    z-index: 1;
    letter-spacing: 0px;
    width: 100%;
    text-align: center;
}

.borderDesign {
    border-left: 2px solid #FFC812;
    border-bottom: 2px solid #FFC812;

    padding: 20px;
}

.boxOneContent p {
    color: #FAB23D;
    font-size: 20px;
    z-index: 1;
}


.boxTwoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
}

.boxTwo{
    width: 50%;
}

.spacer {
    margin-bottom: -3px;
    margin-left: -12px;
    position: absolute;
    bottom: 0;
    aspect-ratio: 1100/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.circleA {
    background: #FAB23D;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    margin-left: 20%;
    animation-timing-function: linear;
    animation: float 2s alternate infinite;
    z-index: 0;
}

.circleB {
    background: #262626;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 20%;
    bottom: 0;
    margin-left: 30%;
    animation-timing-function: linear;
    animation: float2 2s alternate infinite;
    z-index: 0;
} 
.circleC {
    background: #383838;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 30%;
    bottom: 0;
    margin-left: 10%;
    animation-timing-function: linear;
    animation: float alternate 3s infinite;
    z-index: 0;
} 

@keyframes float {
    0% {bottom: 0;
    opacity: 0;} 
    25% {opacity: .2;}
    50% {opacity: 0.3;} 
    75% {opacity: .25;} 
    100% {bottom: 20%;
    opacity: .2;}
}

@keyframes float2 {
    0% {bottom: 0;
    opacity: 0;}   
    25% {opacity: .2;}
    50% {opacity: 0.3;}
    75% {opacity: .25;}
    100% {bottom: 15%;
        opacity: .2;}
}

@keyframes float3 {
    0% {bottom: 0;
    opacity: 0;}   
    25% {opacity: 1;}
    50% {opacity: 0.1;}
    75% {opacity: .25;}
    100% {bottom: 25%;
        opacity: .2;}
}

.circleD {
    background: #383838;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 10%;
    bottom: 0;
    margin-left: 50%;
    animation-timing-function: linear;
    z-index: 0;
    animation: float3 5s alternate infinite;
    
}

.circleE {
    background: #FFC812;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    margin-left: 40%;
    animation-timing-function: linear;
    animation: float 3s alternate infinite;
    z-index: 0;
} 
.circleF {
    background: #383838;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    bottom: 45%;
    margin-left: 60%;
    animation-timing-function: linear;
    animation: float2 2s alternate infinite;
    z-index: 0;
} 

.circleG {
    background: #FAB23D;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    margin-left: 70%;
    animation-timing-function: linear;
    animation: float 3s alternate infinite;
    z-index: 0;
}

.circleH {
    background: #262626;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 20%;
    bottom: 0;
    margin-left: 80%;
    animation-timing-function: linear;
    animation: float2 2s alternate infinite;
    z-index: 0;
} 
.circleI {
    background: #383838;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 10%;
    bottom: 0;
    margin-left: 90%;
    animation-timing-function: linear;
    z-index: 0;
    animation: float3 8s alternate infinite;
    
}

/* MAIN END */


/* ABOUT ME */
#aboutMeSection {
    background-color: #262626;
    height: 100vh;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.aboutTitle {
    font-size: 50px !important;
    font-family: 'Encode Sans', sans-serif;
    color: #FFC812;
    margin-top: 100px;
    margin-bottom: 40px;
}

.aboutInfo {
    display: flex;
    width: 90vw;
    justify-content: center;
    border-radius: 20px;
    height: 100%;
    flex-direction: column;
    border-top: 2px solid #FFC812;
    border-right: 2px solid #FFC812;
}

.wordwrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.test1 {
    text-align: center;
    margin-top: 40px;
    width: 40%;
    float: right;
    font-size: 1.5em;
    color: #FAB23D;
    padding-top: 40px;
    z-index: 1;
}

.wordwrap p {
    line-height: 2;
    font-size: 1em;
    margin-top: 70px;
    width: 40% !important;
    text-align: center;
    color: #FAB23D;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
}

#aboutShow {
    position: absolute;
    max-width: 100%;
    right: 0%;
    opacity: 1;
    z-index: 0;
}

/* PROJECTS START */


#projects {
    height: 100vh;
    width: 100%;
    background: #383838;
    position: relative;
    overflow: hidden;
}

#grid {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
    height: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pro, h3 {
    
    text-align: center;
    color: #FAB23D;
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
}
.pro {
    z-index:2;
}

.pro img {
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index:2;
}

#projects div h1 {
    float: right;
}

.workBG {
    position: absolute;
    bottom: 0;
    margin-bottom: -60px;
    height: 100%;
    opacity: .2;
    z-index: 1;
}

#bbord {
    width: 110%;
}

.pro:hover {
 opacity: .4;
}

@media (max-width: 1600px) {
    #aboutShow {
        opacity: .2;
    }
    .test1 {
        text-align: center;
        margin-top: 40px;
        width: 100%;
        float: right;
        font-size: 1.5em;
        color: #FAB23D;
        padding-top: 40px;
        z-index: 2;
    }
    #aboutShow {
        opacity: .1;
    }
    
    .wordwrap p {
        line-height: 2;
        font-size: 1em;
        margin-top: 30px;
        width: 100% !important;
        text-align: center;
        color: #FAB23D;
        width: 100%;
        padding-top: 20px;
        z-index: 1;
    }
    #grid {
        height: 100vh;
        align-items: flex-start;
    }
    .pro {
      margin-top: 00px;
    }

   
}

@media (max-width: 1300) {
    #grid {
        height: 100%;
        margin-top: -20px;
        flex-direction: column;
        margin-bottom: 30px;
      }
      #projects {
          height: 100% !important;
      }
      .pro {
          margin-bottom: 20px;
      }
}

@media (max-width: 990px) {
    #aboutMeSection {
        height: 100%;
    }
    .test1 {
        text-align: center;
        margin-top: 40px;
        width: 100%;
        float: right;
        font-size: 1.5em;
        color: #FAB23D;
        padding-top: 40px;
        z-index: 1;
    }
    #aboutShow {
        opacity: .1;
    }
    
    .wordwrap p {
        line-height: 2;
        font-size: 1em;
        margin-top: 30px;
        width: 100% !important;
        text-align: center;
        color: #FAB23D;
        width: 100%;
        padding-top: 20px;
        z-index: 1;
    }
    .aboutInfo {
        margin-bottom: 40px;
    }
    
    #grid {
      height: 100%;
      margin-top: 0px;
      flex-direction: column;
      margin-bottom: 30px;
    }
    #projects {
        height: 50% !important;
    }
    .pro {
        margin-bottom: 20px;
    }
    #formResize {
        width: 100% !important;
    }
    #theForm {
        width: 100%;
    }
    #contact {
        width: 100%;
    }
}

/* PROJECTS END */


/* CONTACT START */
#contact {
    position: relative;
    height: 100%;
    background: black;
    position: relative;  
    overflow: hidden; 
    margin-bottom: 100px; 
    z-index: 1;
}
.contactbg {
    width: 15%;
    z-index: 0;
    position: absolute;
    bottom: 0;
}

.contactbgR {
    width: 10%;
    bottom:0;
    right: 0;
    z-index: 0;
    position: absolute;
}

.theForm {
    background-color: black;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border-right: 2px solid #FFC812;
    border-top: 2px solid #FFC812;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 50px;
}

.theSub {
    float: center;
    width: 100% !important;
    background-color: black !important;
    border-radius: 10px !important;
    border-top: 1px solid #FFC812 !important;
    border-right: 1px solid #FFC812 !important;
    border-bottom: 1px solid #383838 !important;
    border-left: 1px solid #383838 !important;
    color: #FAB23D !important;
    font-family: 'Encode Sans', sans-serif !important;
}

.theSub:hover {
    background: #262626 !important;
    transition: 1s !important;
    z-index: 2 !important;
}

#formResize {
    margin: auto;
    width: 50%;
    justify-content: center;
}

#fs-frm input,
        #fs-frm select,
        #fs-frm textarea,
        #fs-frm fieldset,
        #fs-frm optgroup,
        #fs-frm label,
        #fs-frm #card-element:disabled {
          font-family: inherit;
          font-size: 100%;
          color: inherit;
          border: none;
          border-radius: 0;
          display: block;
          width: 100%;
          padding: 0;
          margin: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        #fs-frm label,
        #fs-frm legend,
        #fs-frm ::placeholder {
          font-size: .825rem;
          color: #FAB23D;
          margin-bottom: .5rem;
          padding-top: .2rem;
          display: flex;
          align-items: baseline;
        }
        
        /* border, padding, margin, width */
        #fs-frm input,
        #fs-frm select,
        #fs-frm textarea,
        #fs-frm #card-element {
          border: 1px solid rgba(0,0,0,0.2);
          background-color: black;
          padding: .75em 1rem;
          border-left: 1px solid #FFC812;
          border-bottom: 1px solid #FFC812;
          margin-bottom: 1.5rem;
        }
        #fs-frm input:focus,
        #fs-frm select:focus,
        #fs-frm textarea:focus {
          background-color: white;
          outline-style: solid;
          outline-width: thin;
          outline-color: gray;
          outline-offset: -1px;
        }
        #fs-frm [type="text"],
        #fs-frm [type="email"] {
          width: 100%;
        }
        #fs-frm [type="button"],
        #fs-frm [type="submit"],
        #fs-frm [type="reset"] {
          width: auto;
          cursor: pointer;
          -webkit-appearance: button;
          -moz-appearance: button;
          appearance: button;
        }
        #fs-frm [type="button"]:focus,
        #fs-frm [type="submit"]:focus,
        #fs-frm [type="reset"]:focus {
          outline: none;
        }
        #fs-frm [type="submit"],
        #fs-frm [type="reset"] {
          margin-bottom: 0;
        }
        #fs-frm select {
          text-transform: none;
        }
        
        #fs-frm [type="checkbox"] {
          -webkit-appearance: checkbox;
          -moz-appearance: checkbox;
          appearance: checkbox;
          display: inline-block;
          width: auto;
          margin: 0 .5em 0 0 !important;
        }
        
        #fs-frm [type="radio"] {
          -webkit-appearance: radio;
          -moz-appearance: radio;
          appearance: radio;
        }
        
        /* address, locale */
        #fs-frm fieldset.locale input[name="city"],
        #fs-frm fieldset.locale select[name="state"],
        #fs-frm fieldset.locale input[name="postal-code"] {
          display: inline;
        }
        #fs-frm fieldset.locale input[name="city"] {
          width: 52%;
        }
        #fs-frm fieldset.locale select[name="state"],
        #fs-frm fieldset.locale input[name="postal-code"] {
          width: 20%;
        }
        #fs-frm fieldset.locale input[name="city"],
        #fs-frm fieldset.locale select[name="state"] {
          margin-right: 3%;
        }

*        

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAB23D;
    overflow: hidden;
    margin-top: -100px;
    text-align: center;
    height: 70px;
}


#icon {
    margin-right: 30px;
    border: 1px solid black;
    padding: 10px;
    color: #383838;
}

#iconBtn {
    background-color: black;
    color:#FAB23D;
    border: none;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    text-decoration: none;
}

.footname {
    font-family: 'Bebas Neue';
    font-size: 12px;
    color:#FFC812;
    letter-spacing: 10px;
    width: 100%;
    margin-left: 10px;
    background-color: black;
}


